<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Name %>
    <%= f.text_field :Name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Date_of_Birth %>
    <%= f.text_field :Date_of_Birth, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Address %>
    <%= f.text_field :Address, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Phone_Number %>
    <%= f.text_field :Phone_Number, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Infection %>
    <%= f.text_field :Infection, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Injury %>
    <%= f.text_field :Injury, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
