<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.Name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @patient.Date_of_Birth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.Address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @patient.Phone_Number %>
</p>

<p>
  <strong>Infection:</strong>
  <%= @patient.Infection %>
</p>

<p>
  <strong>Injury:</strong>
  <%= @patient.Injury %>
</p>

<h2>Requests</h2>
<% @patient.requests.each do |request| %>
<p>
<b>Request details:</b>
    <%= request.details %>
</p>
<% end %>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
<%= link_to 'Show Requests', patient_requests_path(@patient) %>

